html {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: hsl(233, 47%, 7%);
  width: 1440px;
  font-size: 15px;
}

.color-overlay {
  background-color: hsl(277, 64%, 61%, 0.5);
  z-index: 2;
}

.card_style {
  /*
  width: 720px;
  height: 446px;
*/
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
  margin: 25% 10% 25% 10%;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  color: hsl(0, 0%, 100%);
}
.flex-items {
  padding-left: 50px;

  inline-size: 360px;
}
.hero-image {
  flex-basis: 50%;
}

.text-style {
  padding-top: 30px;
}
.text-accent {
  color: hsl(277, 64%, 61%);
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
}

div > p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 150%;
}

span {
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 100;
  font-family: "Inter", sans-serif;
  letter-spacing: 1.25px;
}

ul {
  display: flex;
  flex-flow: row wrap;
}

ul > li {
  display: flex;
  flex-flow: column wrap;

  text-transform: capitalize;
  list-style-type: none;
  color: hsl(0, 0%, 100%);

  padding-left: 15px;
  padding-top: 50px;

  line-height: 150%;
  font-weight: 700;

  /*padding: 25px;*/
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
}

/*

div {
  margin: 5px;
  padding: 5px;
  padding-left: 50px;
}
.hero-image {
  align-items: stretch;
  align-self: flex-end;
}
img {
  width: 25%;
}



.flex-container {
  background-color: red;
  width: 1470px;
 display: flex;
  flex-flow: column wrap;
  align-items: space-around;
}

.flex-items {
  align-items: baseline;
  align-content: space-between;
}
img {
  float: right;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.grid-ctr {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
body {
  background-color: hsl(233, 48%, 75%);
  
  display: flex;
}

.container {
 width: 1470px;
  background-color: hsl(244, 38%, 16%);
}

.hero-image {
  justify-content: flex-start;
  color:hsl(277, 64%, 61%);
}

*/
