html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
}
div {
  margin: 5px;
  padding: 5px;
}

h1 {
  font-weight: 700;
}

section {
  margin: 25% 10% 25% 10%;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
}
.flex-items {
  padding: 10px;
}

.hero-image {
  width: 720px;
}

/*
.hero-image {
  align-items: stretch;
  align-self: flex-end;
}
img {
  width: 25%;
}



.flex-container {
  background-color: red;
  width: 1470px;
 display: flex;
  flex-flow: column wrap;
  align-items: space-around;
}

.flex-items {
  align-items: baseline;
  align-content: space-between;
}
img {
  float: right;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.grid-ctr {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
body {
  background-color: hsl(233, 48%, 75%);
  
  display: flex;
}

.container {
 width: 1470px;
  background-color: hsl(244, 38%, 16%);
}

.hero-image {
  justify-content: flex-start;
  color:hsl(277, 64%, 61%);
}

*/
