* {
  box-sizing: content-box;

}
body {
  background-color: white;
  font-size: 15px;
}
.flex-container {
  width: 1440px;
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-items {
  align-items: center;
  padding: 32px;
}
h1 {
  font-weight: 700;
}

.hero-image {
  color: hsl(277, 64%, 61%);

/*

.flex-container {
  background-color: red;
  width: 1470px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
img {
  float: right;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.grid-ctr {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}
body {
  background-color: hsl(233, 48%, 75%);
  
  display: flex;
}

.container {
 width: 1470px;
  background-color: hsl(244, 38%, 16%);
}

.hero-image {
  justify-content: flex-start;
  color:hsl(277, 64%, 61%);
}

*/
