
  html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body {
    margin: 0px;
    background-color: hsl(233, 47%, 7%);
    max-width: 375px;
    font-size: 15px;
  }

  .color-overlay {
    background-color: hsl(277, 64%, 61%);
  }
  .mobile_hero-image {
    max-width: 100%;
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;

    opacity: 0.15;
    border-radius: 0px 10px 10px 0px;
  }

  .mobile_card_style {
    border-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    margin: 10% 2% 10% 2%;
  }

  .mobile_flex_container {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    color: hsl(0, 0%, 100%);
  }

  .mobile_flex-items {
    padding-left: 50px;
    inline-size: 360px;

/* end of mobile styling */
